body {
    min-width: 98vw;
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background: linear-gradient(to right top, #f4bfbf, #f8cbc0, #fad7c4, #fae4cc, #faf0d7);
}

.topbar {
    img {
        max-height: 208px;
        min-width: 272px;
        margin-bottom: 16px;
        object-fit: cover;
        border: 4px solid #8CC0DE;
        border-radius: 8px;
        box-shadow: 4px 4px 0 0 #A91079;
    }
    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
    border: 4px solid #8CC0DE;
    border-radius: 16px;
    box-shadow: 4px 4px 0 0 #570A57;
    background: #FFE59D;
    margin: 8px;
    padding: 16px;
}

.mainpanel {
    .formy {
        display: flex;
        font-weight: bold;
    }
    background: #FFC3C3;
    border: 4px solid #8CC0DE;
    border-radius: 16px;
    box-shadow: 4px 4px 0 0 #570A57;
    margin: 8px;
    padding: 16px;
}

@media screen and (max-height:719px) {
    .topbar img {
        display: none;
    }
}
