body {
  min-width: 98vw;
  min-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  /*background-image: linear-gradient(to right top, rgb(215, 215, 215), rgb(237, 237, 237));*/
  background-color: #1f2347;
}

.topbar {
  border: 4px solid white;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 0 0 #7090c4;
          box-shadow: 4px 4px 0 0 #7090c4;
  background: white;
  margin: 8px;
  padding: 16px;
}

.topbar img {
  max-height: 208px;
  min-width: 272px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-bottom: -10px;
}

.topbar h1 {
  margin: 0;
}

.topbar h2 {
  margin: 0;
}

.mainpanel {
  background: #758ddb79;
  border: 0;
  border-radius: 15px;
  margin: 16px;
  margin-bottom: 24px;
  padding: 16px;
  color: white;
}

.mainpanel .formy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

select{
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  border-width: 0px 0px 2px 0px;
  padding: 2px;
  outline: none;
  transition-duration: 0.5;
}
select:hover{
  cursor: pointer;

}
select:focus{
  border-color: #649df2;
  box-shadow: rgba(19, 38, 84, 0.767) 0 0 7px;
}

#submit {
  background-color: #649df2;
  border: 0;
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
}

input[name=search]{
  outline: none;
  border-width: 0px 0px 3px 0px;
  border-color: white;
  border-radius: 5px;
  padding: 3px;
  padding-left: 5px;
  transition-duration: 0.5s;
  width: 160px;
}
input[name=search]:hover{
  box-shadow: rgba(19, 38, 84, 0.767) 0 0 7px;
}
input[name=search]:focus{
  border-color: #649df2;
  width: 250px;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(138, 170, 195, 0.366);
  border-radius: 30px;
}
@media screen and (max-height: 719px) {
  .topbar img {
    display: none;
  }
}

.box{
  max-width: 80%;
  max-height: 50%;
  text-align: left;
  box-shadow: rgba(93, 101, 151, 0.532) 0 0 10px;
  border-radius: 15px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.755);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.img{
  display: inline-block;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 40px;
  width: 20%;
}
.img img{
  width: 100%;
  border: 4px solid #495f83;
  border-radius: 16px;
  background: #333333;
}
.text{
  display: inline-block;
  width: 35%;
  text-align: left;
  padding: 40px;
}

#lecname {
  font-size: 28px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: underline;
}